<template name="ApplicationLayout">
    <header>
        <title>Trivia Rumble</title>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
    </header>

    <body>
        <header>
            <nav role="navigation" class="cyan lighten-1">
                <div class="nav-wrapper container">
                    <a href="/" id="logo-container" class="brand-logo">Trivia Rumble</a>
                    <ul class="right">
                        <li><a href="/search"><i class="material-icons left">search</i>Find Friends</a></li>
                        <li>{{> loginButtons align=right}}</li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            {{> yield}}
        </main>
        <footer class="page-footer cyan lighten-1">
            <div class="footer-copyright">
                <div class="container">
                    @ 2016 Kaelen
                </div>
            </div>
        </footer>
    </body>
</template>