<template name="home" class="container">
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'> {{#if currentUser}}
    <div class="container">
        <div class="section">
            <div class="row center">
                <h2>Start New Game</h2>
            </div>
            <div class="row">
                <div class="another">
                    <ul class="collection with-header">
                        <li class="collection-header">
                            <h4>Friends</h4>
                        </li>
                        {{#if friends}} {{#each friends}}
                        <li class="collection-item">
                            <div>
                                <a href="#">{{username}}</a>
                                <a class="secondary-content challenge-friend waves-effect waves-light btn">
                                    <i class="material-icons left">perm_identity</i>Try Me
                                </a>
                            </div>
                        </li>
                        {{/each}} {{/if}}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="jellybeans">
                    <h4>Random User</h4>
                    <a class="waves-effect waves-light btn-large rand-user"><i class="material-icons right">shuffle</i>Random</a>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="card-panel">
                <h4>Your Turn</h4>
            </div>
            <ul class="collection">
                {{#each yourGames}}
                <li class="collection-item-avatar">
                    {{#with opponentData}}
                    <span class="title"><a>{{username}}</a></span> {{/with}}
                    <p>Round: {{round}}</p>
                    <div class="secondary-content">
                        <div class="chip">
                            Score: {{yourScore}} - {{opponentScore}}
                        </div>
                        &nbsp;
                        <a href="/game/{{_id}}" class="waves-effect btn">Play</a>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
    {{else}}
    <div class="container">
        <div class="card-panel">
            <h3>
                Please create an account and log into play</h3>
        </div>
    </div>
    {{/if}}
</template>